/* Base Styles */
body {
  font-family: 'Nunito', sans-serif;
  color: black;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 110%;
  font-weight: 100;
}
p {
  text-align: center;
}
/* Layout Styles */
/* e.g. header, footer, section, aside */
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
nav li {
    display: inline-block;
    margin: 0 1em 1em 0;
}
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup__contact {
  display: flex;
  flex-direction: column;
}
.signup__btn {
  display: flex;
  position: relative;
  left: 65px;
  margin-top: 10px;
}
.hero__video {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Modules */
nav a {
    text-decoration: none;
    color: black;
  }
.hero__header {
  line-height: 0;
}
.nav__btn-sch {
  border-radius: 6px;
  background-color: blue;
  padding: 0.5em;
  width: 9em;
  text-align: center;
  display: inline-block;
  color: white;
  cursor: pointer;
}
.submit__btn {
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  width: 8em;
  text-align: center;
  display: inline-block;
} 

.signup form input[type=submit] {
  border: none;
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  width: 8em;
  text-align: center;
  font-size: .8rem;
  cursor: pointer;
}
